services:
  db:
    image: mariadb:latest
    environment:
      MARIADB_ROOT_PASSWORD: 123456asd
      MARIADB_USER: billy
      MARIADB_DATABASE: sensor_db
    ports:
      - "3306:3306"
    volumes:
      - sensor_db:/var/lib/mysql
  adminer:
    image: adminer:latest
    ports:
     - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: db
    depends_on:
      - db

volumes:
  sensor_db: